<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Todo List Manager web application</h1>
<p>Here you can see all existing tasks:</p>
{% if tasks == "" %}
    <p>Nothing to do now, go sleep :P</p>
{% else %}
    <ul>
    {% for task in tasks %}
        <li>
            <a href="{{ url_for('delete_task', id=task[0]) }}">Delete</a> {{ task[1] }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
<form name="insert" method="post" action="{{ url_for('insert_new_task') }}">
    <label>Insert here a new task </label><input type="text" name="new_task" va/>
    <input type="submit" value="Insert"/>
</form>

</body>
</html>